$body-bg: rgb(48 48 48);
$primary: rgb(253 178 1);

$card-bg: rgb(98 98 98);
$card-border-width: 0;
$card-border-radius: .125rem;
$card-cap-bg: rgba(0, 0, 0, 0.2);

$input-bg: rgb(113 113 113);
$input-color: rgb(252 252 252);
$input-border-color: rgb(173 173 173);
$input-border-radius: 0;
$input-focus-bg: $input-bg;
$input-focus-border-color: $primary;
$input-focus-color: #ffffff;
$input-placeholder-color: $input-border-color;

$btn-border-radius: 0;
$btn-font-weight: 700;

.min-vh-30 {
  min-height: 30vh !important;
}

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-size: 15px;
  font-family: 'Roboto', 'Verdana', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;

  .card-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    font-weight: bold;
    color: #eee;
  }
}

.form-control,
.form-select {
  color: $input-color;
  border: 1px solid $input-border-color;
  transition: all 0.2s;

  &:focus {
    border: 1px solid $primary;
    box-shadow: none;
  }

  &:hover {
    border: 1px solid $primary;
    box-shadow: none;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $body-bg;
}

::-webkit-scrollbar-thumb {
  background: $body-bg;
  border-radius: 6px;
  border: 3px solid $body-bg;

  &:hover {
    background: $primary;
  }
}