.custom-editable-responsive {
  display: grid;
  align-content: center;
  overflow-y: auto;
  white-space: pre-wrap;
  word-break: break-word;
  cursor: text;

  height: calc(1.5em + 0.75rem + 2px);
  min-height: calc(1.5em + 0.75rem + 2px);
}

.custom-editable-responsive.disabled {
  cursor: not-allowed;
  user-select: none;
}

.custom-editable-responsive.is-empty::before {
  content: attr(placeholder);
  pointer-events: none;
  display: inline-block;
  width: 100%;
}

@media (min-width: 768px) {
  .custom-editable-responsive {
    height: 100%;
    min-height: 100%;
  }

  .custom-editable-responsive.is-empty {
    padding-top: calc(15vh - 0.75em);
    padding-bottom: calc(15vh - 0.75em);
  }
}

.fall-css-animation {
  position: absolute;
  top: 0;
  right: 1.5rem;
  font-size: 2.5rem;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  animation:
    fall-down 2.5s linear forwards,
    wave-move 0.6s ease-in-out infinite alternate;
  will-change: transform, opacity;
}

@keyframes fall-down {
  0% {
    top: -10%;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    top: 40vh;
    opacity: 0;
  }
}

@keyframes wave-move {
  0% {
    transform: translateX(0) rotate(-360deg);
  }

  100% {
    transform: translateX(-10vw) rotate(360deg);
  }
}